<!doctype html>
<html lang="en">

    <div class="collapse navbar-collapse" id="navbarColor01">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/home">Home</a>
            <a class="nav-item nav-link" href="/artists">Artists</a>
            <a class="nav-item nav-link active" href="/art">Browse Art <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/submitart">Submit Art</a>
        </div>
    </div>
    <a class="navbar-item nav-link" href="#">Log In</a>
    <a class="navbar-item nav-link" href="/artistsignup">Sign Up!</a>
</nav>
<div id="artist">
    <div class="container artist">
        <div class="col">
            <div class="row">
                {{#each examples}}
                <div class="card text-white bg-secondary mb-3 artistCard" data-id="{{this.id}}"
                    style="max-width: 20rem;">
                    <div class="card-body">
                    </div>
                </div>
                {{/each}}</p>
            </div>
        </div>
    </div>
</div>
</div>