<!doctype html>
<html lang="en">

<div id="artist">
    <div class="container artist">
        <div class="col">
            <div class="row">
                {{#each examples}}
                <div class="card text-white bg-secondary mb-3 artistCard" data-id="{{this.id}}" style="max-width: 20rem;">
                    <div class="card-header">{{this.artistName}}</div>
                    <div class="card-body">
                        <p class="card-text">Age: {{this.age}}</p>
                        <p class="card-text">From: {{this.country}}</p>
                        <a class="card-text" href="#" style="color:black">View art</a>
                    </div>
                </div>
                {{/each}}</p>
            </div>
        </div>
    </div>
</div>
</div>