<!doctype html>
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Fumblr <i class="fas fa-palette"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="/home">Home</a>
      <a class="nav-item nav-link" href="/artists">Artists</a>
      <a class="nav-item nav-link" href="/art">Browse Art</a>
      <a class="nav-item nav-link active" href="/submitart">Submit Art</a>
    </div>
  </div>
  <a class="navbar-item nav-link" href="#">Log In</a>
  <a class="navbar-item nav-link" href="/artistsignup">Sign Up! <span class="sr-only">(current)</span></a>
</nav>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <form class="clearfix mb-4" action="POST" id="artistForm">

          <div class="form-group">
            <label for="example-text">Artist Name:</label>
            <input type="text" id="artistName" class="form-control" aria-describedby="example-text"
              placeholder="What is your name?">
          </div>
          <div class="form-group">
            <label for="example-text">Artist Age:</label>
            <input type="text" id="age" class="form-control" aria-describedby="example-text"
              placeholder="How old are you?">
          </div>
          <div class="form-group">
            <label for="example-text">Country of Origin:</label>
            <input type="text" id="country" class="form-control" aria-describedby="example-text"
              placeholder="What country are you from?">
          </div>
          <input type="button" class="button" value="Submit" id="btn_submit" />
        </form>