<!doctype html>
<html lang="en">

<div class="background">
  <div class="container">
    <div class="column">
      <div class="row"><br><br><br></div>
      <div class="row justify-content-center">
        <h1 class="fumblrTitle">Welcome to Fumblr!</h1>
      </div>
     <br>
      <div class="row fumblrSplashText justify-content-center">
        <br><br><br>
        <p>A place for artists to display their artwork to the world and for appreciators of art to view their works.
        </p>
      </div>
      <div class="row justify-content-center"><a class="enterBtn" href="/home">Enter</a></div>
    </div>
  </div>
</div>